<ion-header>

	<ion-toolbar color="primary">
		<ion-title>Галерея</ion-title>
	</ion-toolbar>
</ion-header>


<ion-content padding>

  <ion-item *ngIf="gallery?.uploadLength">
    <button ion-button color="danger" (click)="gallery.cleanCache()" clear>Очистить историю</button>
  </ion-item>

  <ion-item>
    <ion-label>Автовыгрузка</ion-label>
    <ion-toggle (ionChange)="galleryService.toggleAutoUpload()" [(ngModel)]="galleryService.flagAutoUpload"></ion-toggle>
  </ion-item>

  <ion-item>
    <ion-label>Автоудаление истоии</ion-label>
    <ion-toggle (ionChange)="galleryService.toggleAutoCleanCache()" [(ngModel)]="galleryService.flagAutoCleanCache"></ion-toggle>
  </ion-item>

  <ion-grid>
    <ion-row >
      <ng-container *ngFor="let image of gallery">
      <ion-col col-3>
        <div (press)="actionSheetImage(image)" (click)="showImage(image)">
          <img [src]="image.thumb" alt="">
          <ion-icon *ngIf="image.uploaded" class="ico-upload-photo" color="secondary" name="md-cloud-done"></ion-icon>
        </div>
      </ion-col>
      </ng-container>
    </ion-row>
  </ion-grid>

  <ion-fab left bottom>
    <button color="danger" (click)="onScanBarcode()" ion-fab>
      <ion-icon name="md-barcode"></ion-icon>
    </button>
	</ion-fab>

</ion-content>
