<ion-header>

	<ion-toolbar color="primary">
		<ion-title>{{image.barcode}}</ion-title>

    <ion-buttons end>
      <button start ion-button icon-only clear (press)="removeImage(image)" (click)="closeModal()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
	</ion-toolbar>
</ion-header>


<ion-content padding>
  <img (press)="actionSheetImage(image)" [src]="image.path" alt="">
</ion-content>
